@model PizzaBox.WebClient.Models.OrderViewModel

<form asp-action="ModifyOrder" asp-controller="order" asp-antiforgery="true" method="POST">
   <h2>Select a Pizza</h2>
  @foreach (var item in Model.Pizzas)
  {
    <input type="radio" asp-for="@Model.SelectedPizzas" value="@item" required = "true">
    <label for="@item">@item</label>
    <br>
  }
    <h2>Select a Size</h2>
  @foreach(var item in Model.Sizes)
  {
    <input type="radio" asp-for="@Model.SelectedSizes" value="@item" required = "true">
    <label for="@item">@item</label>
 
  }
    <br>

  
  @foreach (var item in Model.SelectedPizzas)
  {
    <input name = "SelectedPizzas" value = "@item" hidden = "true">
  }

  @foreach (var item in Model.SelectedSizes)
  {
    <input name = "SelectedSizes" value = "@item" hidden = "true">
  }
  
  <input name="Store" value ="@Model.Store" hidden = "true">

  <button type="submit" class ="button" >Add Pizza</button>
</form>


<!--This form -->
