@model PizzaBox.WebClient.Models.OrderViewModel

<form asp-action="post" asp-controller="order" asp-antiforgery="true" method="POST">
  @foreach (var item in Model.Stores)
  {
    <input type="radio" asp-for="@Model.Store" value="@item">
    <label for="@item">@item</label>
  }
  @foreach (var item in Model.Pizzas)
  {
    <input type="checkbox" name="SelectedPizzas" value ="@item">
    <label for="@item">@item</label>
  }

  <button type="submit" class ="button">place order</button>
</form>